@charset "utf-8";
.organization_wrap{
    font-family: 'Noto Sans KR', sans-serif;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920px;
    height: 906px;
    /* height: 6540px; */
    overflow: hidden;
    box-sizing: border-box;
}
.organization_info_wrap{
    position: absolute;
    border: 1px solid black;    /* 나중에 지울 것 */
    /* top: 2690px; */
    left: 240px;
    width: 1420px;
    height: 666px;
}
.name_box{
    /* border: 1px solid black; */
    position: relative;
    /* top: 2690px;
    left: 240px; */
    /* width: 132px; */
    height: 84px;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.name_font{
    font: normal normal bold 40px/58px Noto Sans KR;
    color: #1e1e1e;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.sub_name_font{
    font: normal normal medium 18px/26px Noto Sans KR;
    color: #c8c8c8;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.organization_info{
    position: relative;
    width: 1400px;
    height: 532px;
    opacity: 1;
    /* top: 50px;
    left: 20px; */
    padding: 50px 0 0 20px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_border_box{
    width: 200px;
    height: 80px;
    background: #184b9f no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin: 0 600px 0 600px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_p{
    position: relative;
    font-size: 26px;
    text-align: center;
    width: 96px;
    height: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 22px 52px 21px 52px;
    margin: 0;
}
.line{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    position: relative;
    width: 1400px;
    height: 140px;
}
.line .left{
    border-right: 1px solid black;
    width: 700px;
    height: 140px;
    position: relative;
}
.line .right{
    width: 700px;
    height: 140px;
}

/***** map *****/
.direction{
    width: 1920px;
    height: 1344px;
}
.direction_wrap{
    width: 1440px;
    display: flex;
	flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
    left: 240px;
    top: 100px;
}
.index_kakao_map{
    margin-top: 50px;
    width: 1440px;
    height: 680px;
    position:relative;
    overflow:hidden; 
    background: url("http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png"); 
}
/* 맵 글씨 스타일 */
.map_info_wrap{
    width: 1440px;
    height: 230px;
}
.map_info p{
    margin-top: 40px;
    display: inline-block;
}
.map_info .tel{
    margin-left: 231px;
}
.map_info .address{
    margin-left: 243px;
}
.map_info p:first-child{
    text-align: center;
    font: normal normal bold 24px/50px Noto Sans KR;
    letter-spacing: 1.2px;
    color: #1E1E1E;
    opacity: 1;
}
.map_info p:last-child{
    text-align: left;
    font: normal normal normal 20px/30px Noto Sans KR;
    letter-spacing: 0px;
    color: #959595;
    opacity: 1;
}
.map_info .tel_info{
    margin-left: 81px;
}
.map_info .address_info{
    margin-left: 91px;
}
/* 밑줄 */
.under{
    border-bottom: 1px solid #dbdbdb;
    opacity: 1;
}
.under2{
    border-bottom: 1px solid #1e1e1e;
    opacity: 1;
}
/***** End map *****/
