@charset "utf-8";
.organization_wrap{
    font-family: 'Noto Sans KR', sans-serif;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920px;
    height: 6540px;
    overflow: hidden;
    box-sizing: border-box;
}
.organization_info_wrap{
    position: absolute;
    border: 1px solid black;    /* 나중에 지울 것 */
    top: 2690px;
    left: 240px;
    width: 1420px;
    height: 666px;
}
.name_box{
    /* border: 1px solid black; */
    position: relative;
    /* top: 2690px;
    left: 240px; */
    width: 132px;
    height: 84px;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.name_font{
    font-size: 40px;
    color: #1e1e1e;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.sub_name_font{
    font-size: 18px;
    color: #c8c8c8;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.organization_info{
    position: relative;
    width: 1400px;
    height: 532px;
    opacity: 1;
    /* top: 50px;
    left: 20px; */
    padding: 50px 0 0 20px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_border_box{
    width: 200px;
    height: 80px;
    background: #184b9f no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin: 0 600px 0 600px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_p{
    position: relative;
    font-size: 26px;
    text-align: center;
    width: 96px;
    height: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 22px 52px 21px 52px;
    margin: 0;
}
.line{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    position: relative;
    width: 1400px;
    height: 140px;
}
.line .left{
    border-right: 1px solid black;
    width: 700px;
    height: 140px;
    position: relative;
}
.line .right{
    width: 700px;
    height: 140px;
}
